---
apiVersion: v1
kind: Secret
metadata:
  labels:
    argocd.argoproj.io/secret-type: cluster
  name: argocd-cluster-{{ kube_current_context.stdout }}
  namespace: argocd
type: Opaque
data:
  config: {{ argocd_cluster_secret_config }}
  name: {{ kube_current_context.stdout | b64encode }}
  server: {{ cluster_server_url_endpoint | b64encode }}
